body {
  font-family: 'Montserrat';
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: 'Montserrat';
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

/* Nav Bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: 700;
}

.nav-item {
  padding: 0 18px;
  text-align: right;
}

/* Download Buttons */

.dl-btns {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-img {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 28%;
}

@media (max-width: 1028px) {
  .title-img {
    transform: rotate(0);
    position: static;
    padding-top: 30px;
  }
  #title {
    text-align: center;
  }
  .container-fluid {
    padding: 3% 10% 7%;
  }
}

/* Features */

#features {
  padding: 7% 15%;
  position: relative;
  background-color: #fff;
}

.feature-box {
  text-align: center;
  line-height: 1.5;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials */

#testimonials {
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}

.carousel-inner {
  padding: 5% 15%;
}

.testimg {
  width: 12%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding: 3% 0;
  text-align: center;
}

.pressimg {
  width: 15%;
  margin: 0 3% 1%;
}

/* Pricing */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricecard {
  padding: 3% 2%;
}

/* Call To Action */

#cta {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}

/* Footer */

#footer {
  text-align: center;
  padding: 7% 15%;
}

.icons {
  margin: 20px 10px;
}
